<div class="component">
  <a [routerLink]="['/']" class="homebtn">Home</a>
  <a [routerLink]="['/write/'+authorId]">Add a quote</a>
  <h6>Quotes by {{ thisAuthor.aname }}</h6>
  <p *ngFor="let error of errors"> {{ error }} </p>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th class="quotespace">Quote</th>
        <th>Votes</th>
        <th class="buttons">Actions available</th>
      </tr>
      <tr *ngFor="let quote of thisAuthor.quotes">
        <td class="quotespace">"{{ quote.quote }}"</td>
        <td>{{ quote.votes }}</td>
        <td class="buttons">
          <button (click)="voteUp(quote._id)" class="btn btn-view">Vote up</button>
          <button (click)="voteDown(quote._id)" type="button" class="btn btn-edit">Vote down</button>
          <button (click)="deleteQuote(quote._id)" type="button" class="btn btn-delete">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>