<div class="component">
  <a [routerLink]="['/new']">Add a quotable author</a>
  <h6>We have quotes by:</h6>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Author</th>
        <th>Actions available</th>
      </tr>
      <tr *ngFor="let author of allAuthors">
        <td>{{ author.aname }}</td>
        <td>
          <button [routerLink]="['/quotes/'+author._id]" class="btn btn-view">View quotes</button>
          <button [routerLink]="['/edit/'+author._id]" type="button" class="btn btn-edit">Edit</button>
          <button (click)="deleteAuthor(author._id)" type="button" class="btn btn-delete">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>