<div class="component">
  <a [routerLink]="['/']">Home</a>
  <h6>Add a new quotable author:</h6>
  <p *ngFor="let error of errors"> {{ error }} </p>
  <form (submit)="createAuthor()">
    <div class="form-group">
      <label style="color:black;">Name:</label>
      <input type="text" class="form-control" name="name"
      required
      minlength="3"
      [(ngModel)]="newAuthor.aname"
      #aname="ngModel"
      />
    </div>
    <button [routerLink]="['/']" class="btn btn-primary">Cancel</button>
    <button class="btn btn-primary" *ngIf="aname.valid">Submit</button>
  </form>
</div>